.jumbotron1{
    color: white;
    background: url("https://www.planwallpaper.com/static/images/bicycle-1280x720.jpg");
    background-size: cover;
    padding:50px;
    margin-right: 0px;
    text-shadow: 2px 2px black;
}
.fin{
    text-align:
}
.col9{
    margin-top: 10px
}
.continer1{
    margin-left: 5px;
}
.jumbotron{
margin-top: 5px;
    padding: 10px;
    margin-right: 10px;
    border: 0.5px solid;
}
img{
    border: 2px solid;
     border-radius: 25px
 }
.col-6{
    margin-right: 100px
}