body{
    background: url("https://farm5.staticflickr.com/4429/36168196380_582413f0ec_m.jpg");
    background-size: cover; 
    
}
p{
    text-align: left;
}
.jumbotron{
    background-color: white;
    margin-top: 10%;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    padding-left: 12%;
    padding-right: 18%;
    padding-bottom: 1%
}

.bar1{
    margin: 1%
}
.bar2{
margin: 1%
}

.bar3{
margin: 1%
}
.bar4{
margin: 1%;
margin-bottom: 5%
}

.navbar{
    background-color: #3097D1 !important;
}
.bttnq{
    margin-left: 37%
}